<body>
    <form method="post" action="">
        <h2>Form update</h2>
        <label for="">Name</label>
        <input type="text" name="name">
        <label for="">Description</label>
        <input type="text" name="description">
        <button type="submit" id="post-button">Submit</button>
    </form>
</body>